.has-green-background-color {
    background-color: #274b40;
}

.has-green-color {
    color: #274b40;
}

.has-orange-background-color {
    background-color: #f8bd3b;
}

.has-orange-color {
    color: #f8bd3b;
}

.has-black-background-color {
    background-color: #000000;
}

.has-black-color {
    color: #000000;
}

.has-white-background-color {
    background-color: #ffffff;
}

.has-white-color {
    color: #ffffff;
}

